<component name="libraryTable">
  <library name="spring-data-flow-logging-sink-0.0.1-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/spring-data-flow-logging-sink/target/spring-data-flow-logging-sink-0.0.1-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>